* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
}

.title {
  display: inline-block;
  width: 100%;
  background-color: #424753;
  border-left: 10px solid #f2c100;
  margin-top: 30px;
  margin-bottom: 15px;
  padding-left: 25px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
}

/* first-column */

.first-column {
  width: 35%;
  color: #ffffff;
}

.foto {
  background-image: url(assets/foto.jpg);
  background-position: -170px -75px;
  height: 400px;
}

.contact {
  background-color: #343945;
}

.phone {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  margin-left: 35px;
  margin-bottom: 15px;
}

.phone__title {
  font-weight: 400;
  font-size: 17px;
}

.phone__text {
  font-size: 15px;
}

.mail {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  margin-left: 35px;
  margin-bottom: 15px;
}
.mail__title {
  font-weight: 400;
  font-size: 17px;
}

.mail__text {
  font-size: 15px;
}

.linkedin {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  margin-left: 35px;
  margin-bottom: 15px;
}

.linkedin__title {
  font-weight: 400;
  font-size: 17px;
}

.linkedin__text {
  font-size: 15px;
}

.education {
  background-color: #2c323d;
}

.university {
  margin-left: 35px;
  margin-bottom: 15px;
  font: 14px;
  font-weight: 200;
  line-height: 130%;
}

.college {
  margin-left: 35px;
  margin-bottom: 15px;
  font: 14px;
  font-weight: 200;
  line-height: 130%;
  padding-bottom: 40px;
}

/* second-column */

.secong-column {
  width: 65%;
}

.header {
  padding-top: 140px;
  padding-left: 100px;
}

.name {
  font-size: 44px;
  font-weight: 500;
}

.header-subtitle {
  text-transform: uppercase;
  font-weight: 300;
}
